<div class="container">
<%= form_for @remote_page, url: root_path, method: :get do |f| %>
     <div class="form-group">
        <%= f.text_field :url, class: "form-control", "placeholder": "URL to web page" %>  
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <%= f.submit "Pobierz informacje o znacznikach HTML / literach na stronie", class: "btn btn-primary btn-lg", style: "width: 100%" %>
        </div>
    </div>
<% end %>
</div>


<div class="row">
  <div id='chart' class='col-sm-12'></div>
  <div id='chart2' class='col-sm-12'></div>
</div>

<%= render_chart @chart, 'chart' if @remote_page.html_tags.present? %>
<%= render_chart @chart_letters, 'chart2' if @letters.present? %>

<div class="container" style="margin-top: 50px">
  <div class = 'row'>
    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>HTML Tag</th>
            <th>Ilość wystąpień</th>
          </tr>
        </thead>
        <tbody>
          <% @remote_page.html_tags.each do |tag| %>
            <tr>
              <td><%=tag[0] %></td>
              <td><%=tag[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
    </div>

    <div class="col-sm-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Litera</th>
            <th>Ilość wystąpień</th>
          </tr>
        </thead>
        <tbody>
          <% @letters.each do |letter, count| %>
            <tr>
              <td><%=letter %></td>
              <td><%=count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
    </div>
    
</div>